<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>project</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServet</display-name>
    <servlet-name>LoginServet</servlet-name>
    <servlet-class>LoginServet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServet</servlet-name>
    <url-pattern>/LoginServet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logi</display-name>
    <servlet-name>logi</servlet-name>
    <servlet-class>logi</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logi</servlet-name>
    <url-pattern>/logi</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Createtable</display-name>
    <servlet-name>Createtable</servlet-name>
    <servlet-class>Createtable</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Createtable</servlet-name>
    <url-pattern>/Createtable</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GymSection</display-name>
    <servlet-name>GymSection</servlet-name>
    <servlet-class>GymSection</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GymSection</servlet-name>
    <url-pattern>/GymSection</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Trainer</display-name>
    <servlet-name>Trainer</servlet-name>
    <servlet-class>Trainer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Trainer</servlet-name>
    <url-pattern>/Trainer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Equipment</display-name>
    <servlet-name>Equipment</servlet-name>
    <servlet-class>Equipment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Equipment</servlet-name>
    <url-pattern>/Equipment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Warehouse</display-name>
    <servlet-name>Warehouse</servlet-name>
    <servlet-class>Warehouse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Warehouse</servlet-name>
    <url-pattern>/Warehouse</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Section</display-name>
    <servlet-name>Section</servlet-name>
    <servlet-class>Section</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Section</servlet-name>
    <url-pattern>/Section</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet1</display-name>
    <servlet-name>LoginServlet1</servlet-name>
    <servlet-class>LoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet1</servlet-name>
    <url-pattern>/LoginServlet1</url-pattern>
  </servlet-mapping>
</web-app>